/* css for .App class */

.App {
  text-align: center;
  background-color: #212121;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App h3{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.input {
  max-width: 50rem;
  width: 50%;
  padding: 15px;
  font-size: 17px;
  color: black;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border: 2px solid #fff;
}

.button {
  border: none;
  background-color: #37ff8b;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 17px;
  font-size: 17px;
  color: #212121;
  font-weight: 400;
  font-size: 1.2rem;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

.container_x {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

/* === removing default button style ===*/
.button1 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  margin: 3rem;
}

/* button styling */
.button1 {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button1:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* Styles for the content div */
.content {
  position: relative;
  margin: 3rem auto;
  width: 900px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

/* Styles for the ul list */
.content ul {
  color: #212121;
  list-style-type: none;
  font-size: large;
  font-weight: 500;
  padding: 0;
  margin: 0%;
}

.content ul li {
  background-color: #37ff8b;
  margin-bottom: 10px;
  height: 2.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: left;
  border-radius: 10px;
}

.content ul li a {
  text-decoration: none;
  color: #212121;
  font-size: large;
  font-weight: 500;
}

/* Custom scrollbar styles */
.content::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

.content::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust the background color as needed */
}

.content::-webkit-scrollbar-thumb {
  background-color: #888; /* Adjust the thumb color as needed */
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Adjust the thumb color on hover as needed */
}

.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, 0.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.loader {
  position: absolute;
  top: 40%;
  left: 45%;
}
